{% extends "base.html" %}

{% block content %}
       <table id='board'>
            <tr class='row'>
				<th class='info'></th>
				<th class='info'>1</th>
				<th class='info'>2</th>
				<th class='info'>3</th>
				<th class='info'>4</th>
				<th class='info'>5</th>
				<th class='info'>6</th>
				<th class='info'>7</th>
				<th class='info'>8</th>
            </tr>
            <tr class='row'>
                <td class='info'>a</td>
                <td class='cell black' id='a1'></td>
                <td class='cell white' id='a2'></td>
                <td class='cell black' id='a3'></td>
                <td class='cell white' id='a4'></td>     
                <td class='cell black' id='a5'></td>
                <td class='cell white' id='a6'></td>
                <td class='cell black' id='a7'></td>
                <td class='cell white' id='a8'></td>
            </tr>
            <tr class='row'>
                <td class='info'>b</td>
                <td class='cell white' id='b1'></td>
                <td class='cell black' id='b2'></td>
                <td class='cell white' id='b3'></td>     
                <td class='cell black' id='b4'></td>
                <td class='cell white' id='b5'></td>
                <td class='cell black' id='b6'></td>
                <td class='cell white' id='b7'></td>
                <td class='cell black' id='b8'></td>
            </tr>
            <tr class='row'>
                <td class='info'>c</td>
                <td class='cell black' id='c1'></td>
                <td class='cell white' id='c2'></td>     
                <td class='cell black' id='c3'></td>
                <td class='cell white' id='c4'></td>
                <td class='cell black' id='c5'></td>
                <td class='cell white' id='c6'></td>
                <td class='cell black' id='c7'></td>
                <td class='cell white' id='c8'></td>
            </tr>
            <tr class='row'>
                <td class='info'>d</td>
                <td class='cell white' id='d1'></td>     
                <td class='cell black' id='d2'></td>
                <td class='cell white' id='d3'></td>
                <td class='cell black' id='d4'></td>
                <td class='cell white' id='d5'></td>
                <td class='cell black' id='d6'></td>
                <td class='cell white' id='d7'></td>
                <td class='cell black' id='d8'></td>
            </tr>
            <tr class='row'>
                <td class='info'>e</td>
                <td class='cell black' id='e1'></td>
                <td class='cell white' id='e2'></td>
                <td class='cell black' id='e3'></td>
                <td class='cell white' id='e4'></td>
                <td class='cell black' id='e5'></td>
                <td class='cell white' id='e6'></td>
                <td class='cell black' id='e7'></td>
                <td class='cell white' id='e8'></td>
            </tr>
            <tr class='row'>
                <td class='info'>f</td>
                <td class='cell white' id='f1'></td>
                <td class='cell black' id='f2'></td>
                <td class='cell white' id='f3'></td>
                <td class='cell black' id='f4'></td>
                <td class='cell white' id='f5'></td>
                <td class='cell black' id='f6'></td>
                <td class='cell white' id='f7'></td>
                <td class='cell black' id='f8'></td>
            </tr>
            <tr class='row'>
                <td class='info'>g</td>
                <td class='cell black' id='g1'></td>
                <td class='cell white' id='g2'></td>
                <td class='cell black' id='g3'></td>
                <td class='cell white' id='g4'></td>
                <td class='cell black' id='g5'></td>
                <td class='cell white' id='g6'></td>
                <td class='cell black' id='g7'></td>
                <td class='cell white' id='g8'></td>
            </tr>
            <tr class='row'>
                <td class='info'>h</td>
                <td class='cell white' id='h1'></td>
                <td class='cell black' id='h2'></td>
                <td class='cell white' id='h3'></td>
                <td class='cell black' id='h4'></td>
                <td class='cell white' id='h5'></td>
                <td class='cell black' id='h6'></td>
                <td class='cell white' id='h7'></td>
                <td class='cell black' id='h8'></td>
            </tr>
    </table>
{% endblock %}
